* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100%-250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}
.sidebar ul li a.active {
    background-color: #fff;
    color: #12171e;
}
.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}
.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    display: none;
}
.sidebar ul li:hover .tooltip{
    display: block;
    z-index: 99;
    opacity: 0;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.main-content{
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}
.logo span{
    text-wrap: nowrap;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote h2{
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
}
.admin-creation{
    width: 100%;
    height: 250px;
    background-color: #12171e;
    color: #eee;
    border-radius: 10px;
    padding: 10px;
}
.admin-creation-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.admin-creation-inputs input{
    border: 1px solid #eee;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.admin-creation-inputs input[type="submit"]{
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.admin-creation-inputs input[type="submit"]:hover{
    box-shadow: 0px 0px 10px #eee;
}
.admin-manage{
    height: auto;
    width: 100%;
    background-color: #12171e;
    color: #eee;
    border-radius: 10px;
    padding: 10px;
}
.admin-manage table{
    text-align: center;
    height: auto;
    width: 100%;
    padding: 10px;
}
.admin-manage table{
    border: 1px solid #eee;
}
.admin-manage table th{
    background-color: #ffffff;
    color: #12171e;
}
.admin-manage table tr:nth-of-type(1n){
    background-color: #1b2533;
}
.admin-manage table tr:nth-of-type(2n){
    background-color: #303f55;
}
.delete-admin{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: none;
    color: #12171e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-admin i{
    font-size: 20px;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.delete-admin i:hover{
    box-shadow: 0px 0px 10px #eee;
}
.msg-error-section{
    width: 100%;
    height: auto;
    background-color: #12171e;
    color: #eee;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
@media (max-width: 650px) {
    .admin-manage table{
        border: 1px solid #eee;
        text-align: start;
    }
    table{
        font-size: 12px;
    }
    th{
        display: none;
    }
    td{
        display: block;
    }
    td::before{
        content:attr(data-cell) " : ";
        font-weight: 700;
    }
    .delete-admin i{
        width: 100%;
    }
    .main-content{
        padding: 0.5rem;
    }
}