.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-bottom: 60px;
    background: #eee;
}

.form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: #080808;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: #323232;
    color: #fff;
}

.form-container button .form-btn {
    background: #c6eaf6;
    color: #46abcc;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container button .form-btn:hover {
    background: #46abcc;
    color: #fff;
}

.form-container form p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a {
    color: #46abcc;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: #080808;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

#userExistsMessage {
    display: none;
}

@media only screen and (max-width: 767px) {
    .form-container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-bottom: 60px;
        background: #eee;
    }
}