<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="icon" type="image/x-icon" href="../static/admin-favicon.ico" />

    <link rel="stylesheet" href="../static/adminIndex.css">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="fi fi-bs-admin-alt"></i>
                <span>Admin Panel</span>
            </div>
            <i class="fi fi-bs-menu-burger" id="btn"></i>
        </div>
        <div class="user">
            <img src="../static/assets/admin.png" alt="admin" class="user-img">
            <div>
                <p class="bold">{{adminName}}</p>
                <p>Admin</p>
            </div>
        </div>

        <ul>

            <li>
                <a href="/adminPanel" class="active">
                    <i class="fi fi-sr-objects-column"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/adminPanel/analytics">
                    <i class="fi fi-sr-chart-pie-alt"></i>
                    <span class="nav-item">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>
            <li>
                <a href="/adminPanel/moderation">
                    <i class="fi fi-sr-admin-alt"></i>
                    <span class="nav-item">Moderation</span>
                </a>
                <span class="tooltip">Moderation</span>
            </li>
            <li>
                <a href="/adminPanel/posts">
                    <i class="fi fi-sr-memo-circle-check"></i>
                    <span class="nav-item">Posts</span>
                </a>
                <span class="tooltip">Posts</span>
            </li>
            <li>
                <a href="/adminPanel/manageAdmin">
                    <i class="fi fi-sr-user-add"></i>
                    <span class="nav-item">Admins</span>
                </a>
                <span class="tooltip">Admins</span>
            </li>
            <li>
                <a href="/adminPanel/badges">
                    <i class="fi fi-ss-first-award"></i>
                    <span class="nav-item">Badges</span>
                </a>
                <span class="tooltip">Badges</span>
            </li>
            <li>
                <a href="/adminLogout">
                    <i class="fi fi-bs-sign-out-alt"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>

    </div>
    <div class="main-content">
        <div class="insights">

            <div class="insight-heading">
                <h3>Users : </h3>
            </div>

            <div class="insight-tags">

                <div class="tag">
                    <div class="tag-number">
                        <span>{{todayUsers}}</span>
                    </div>
                    <div class="tag-text">
                        <span>Users Today</span>
                    </div>
                </div>

                <div class="tag">
                    <div class="tag-number">
                        <span>{{weekUsers}}</span>
                    </div>
                    <div class="tag-text">
                        <span>Users This Week</span>
                    </div>
                </div>
                
                <div class="tag">
                    <div class="tag-number">
                        <span>{{monthUsers}}</span>
                    </div>
                    <div class="tag-text">
                        <span>Users This Month</span>
                    </div>
                </div>

            </div>

        </div>

        <div class="insights">

            <div class="insight-heading">
                <h3>Posts : </h3>
            </div>

            <div class="insight-tags">

                <div class="tag">
                    <div class="tag-number">
                        <span>{{todayPosts}}</span>
                    </div>
                    <div class="tag-text">
                        <span>Posts Today</span>
                    </div>
                </div>

                <div class="tag">
                    <div class="tag-number">
                        <span>{{weekPosts}}</span>
                    </div>
                    <div class="tag-text">
                        <span>Posts This Week</span>
                    </div>
                </div>
                
                <div class="tag">
                    <div class="tag-number">
                        <span>{{monthPosts}}</span>
                    </div>
                    <div class="tag-text">
                        <span>Posts This Month</span>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
<script src="../static/adminSidebar.js"></script>

</html>